params=(
  -port 10668
  -iwad /data/DOOM2.WAD
  -file /data/reelism_x3.1.pk3
  -file /data/hpbar-v21.pk3
  +exec /configs/global/global.cfg
  +exec /configs/${MODE}/${CURRENT_SERVER}/server.cfg
  +exec /configs/${MODE}/${CURRENT_SERVER}/maps.cfg
)
