set sv_broadcast 0
set sv_updatemaster 1
set sv_enforcemasterbanlist true
set sv_password ${JOIN_PASSWORD}
set sv_rconpassword ${RCON_PASSWORD}
set sv_forcepassword true
set sv_markchatlines true
set sv_maxclientsperip 5
