params=(
  -port 10666
  -iwad /data/DOOM2.WAD
  -file /data/brutalv21.pk3
  +exec /configs/global/global.cfg
  +exec /configs/${MODE}/${CURRENT_SERVER}/server.cfg
  +exec /configs/${MODE}/${CURRENT_SERVER}/maps.cfg
)
